# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
tuple_10 = tuple(range(1, 11))
print(tuple_10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
tuple_10 = tuple(range(1, 11))
first,*middle,last=tuple_10
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [5]:
### Assignment 3: Tuple Slicing

## Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tuple_10[:3])
print(tuple_10[-3:])
print(tuple_10[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [31]:
### Assignment 4: Nested Tuples

## Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = ((1,2,3),(4,5,6),(7,8,9))
print(matrix)
for row in matrix:
    print(row)
    print(f"element at second row and third column: {matrix[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
element at second row and third column: 6
(4, 5, 6)
element at second row and third column: 6
(7, 8, 9)
element at second row and third column: 6

In [13]:
### Assignment 5: Tuple Concatenation

## Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tuple_1=(1,2,3)
tuple_2=(4,5,6)
concatenation_tuple=tuple_1+tuple_2
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6)

In [16]:
### Assignment 6: Tuple Methods

## Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tuple_element=(1,2,4,67,88,66,66,77,88,0,88,2,2,2,2,2,2,2,8)
print(tuple_element.count(2))
print(tuple_element.index(2))

8
1

In [18]:
### Assignment 7: Unpacking Tuples

## Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

packed_tuple=1,2,"uthsavi",78,0.9
a, b, c, d, e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
uthsavi
78
0.9

In [29]:
### Assignment 8: Tuple Conversion

## Convert a list of the first 5 positive integers to a tuple. Print the tuple.

list_5 = [1, 2, 3, 4, 5]
tpl_5 = tuple(list_5)
print(tpl_5)

TypeError: 'tuple' object is not callable

In [18]:
### Assignment 9: Tuple of Tuples

## Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tuple_1=(1,2,3)
tuple_2=(4,5,6)
tuple_3=(7,8,9)

tuple_of_tuples=(tuple_1,tuple_2,tuple_3)
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [33]:
### Assignment 10: Tuple and List

## Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.


tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)

# Convert list back to a tuple
new_tuple = tuple(lst)
print(new_tuple)

TypeError: 'tuple' object is not callable

In [37]:
### Assignment 11: Tuple and String

## Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

tuple_string = ("U","t","h","s","a","v","i")
string = "".join(tuple_string)
print(string)

Uthsavi

In [1]:
### Assignment 12: Tuple and Dictionary

## Create a dictionary with tuple keys and integer values. Print the dictionary.

tuple_dict = {(1,2):1,(3,4):2,(5,6):3}
print(tuple_dict)

{(1, 2): 1, (3, 4): 2, (5, 6): 3}

In [3]:
### Assignment 13: Nested Tuple Iteration

## Create a nested tuple and iterate over the elements, printing each element.

nested_tuple = ((1,2,3),("uthsavi","tiger eye","crystals"),(True,False))
for i in nested_tuple:
    for j in i:
        print(j,end="")
        print()

1
2
3
uthsavi
tiger eye
crystals
True
False

In [20]:
### Assignment 14: Tuple and Set

##Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tuple_dup = (1,1,1,1,1,1,3,4,6,7,8,9,99,99,99,9)
tuple_set = set(tuple_dup)
print(tuple_set)

{1, 3, 4, 99, 6, 7, 8, 9}

In [19]:
### Assignment 15: Tuple Functions

## Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_tuple(tuple):
    return min(tuple)

def max_tuple(tuple):
    return max(tuple)

def sum_tuple(tuple):
    return sum(tuple)

tuple_sample = (1,2,34,5,67,8,0,9)
print(f"Minimun: {min_tuple(tuple_sample)}")
print(f"Maxmun: {max_tuple(tuple_sample)}")
print(f"sum: {sum_tuple(tuple_sample)}")

Minimun: 0
Maxmun: 67
sum: 126